[defaults]
inventory = inventory
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = True
inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo, .example.yml

[ssh_connection]
pipelining = True
